<div class="row card-container shadow p-3 mb-5 bg-white">
    <div class="col-12">
        <div class="card card-reservation">
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-4 d-flex align-items-center mb-3 mb-md-0">
                        <h5 class="card-title">Nombre usuario</h5>
                    </div>
                    <div class="col-12 col-md-6 card-text d-flex align-content-center mb-3 mb-md-0">
                        <div class="row">
                            <div class="col-12">Fecha entrada</div>
                            <div class="col-12 date-color">Entrada</div>
                        </div>
                        <div class="row">
                            <div class="col-12">Fecha salida</div>
                            <div class="col-12  date-color">Salida</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 d-flex align-content-center justify-content-center">
                        <button href="#" class="btn btn-secondary">Más información</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>